
<%- include('partials/header'); -%>
<h1>Home</h1>

<!-- <p> <%= StartingContent %></p> -->
<blockqoute> <mark> "Keeping a personal journal a daily in-depth analysis and evaluation of your experiences is a high-leverage activity that increases self-awareness and enhances all the endowments and the synergy among them.” — Stephen R.Covey.</blockqoute></mar>
 
<% posts.forEach(function(post){ %>

    <h1><%=post.title %></h1>
    <p>
        <%=post.content.substring(0,100) + "..." %>
        <a href="/posts/<%=post.title %>">Read More</a>
    </p>
<% }) %>


<%- include('partials/footer'); -%>